* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background: #181719;
  color: #ffffff;
  min-width: 375px;
  min-height: 776px;
  position: relative;
}

nav {
  display: none;
}

.header__menu {
  position: absolute;
  top: 25.5px;
  right: 12.5px;
  font-size: 25.5px;
  /* Gray 6 */

  color: #f2f2f2;
}
.header__menu.material-icons {
  font-size: 28.5px;
  line-height: 19px;
  font-stretch: ultra-expanded;
}

.brand__name {
  position: absolute;

  left: 20px;
  top: 27px;
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 8px;
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
}

.main__headline {
  position: absolute;
  width: 274px;
  height: 46px;
  left: 12px;
  top: 88px;

  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height */

  color: #ffffff;
}

.main__description {
  position: absolute;
  width: 250px;
  height: 85px;
  left: 12px;
  top: 159px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.link__read-more {
  position: absolute;
  height: 17px;
  left: 12px;
  top: 269px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  /* identical to box height */

  color: #ffffff;
}
.link__read-more .material-icons {
  font-size: 15px;
  line-height: 17px;
  padding-left: 15px;
}

.main__illustration {
  position: absolute;
  width: calc(375px - 24px);
  height: 279.34px;
  left: 12px;
  top: 311.57px;
  overflow: hidden;
}

.main__illustration img {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  max-width: 391.06px;
}

.author__card__picture {
  position: absolute;
  width: 62.2px;
  height: 52.68px;
  left: 62.24px;
  top: 543.32px;
}
.author__card__picture:before {
  content: '';
  background-color: #181719;
  position: absolute;
  width: 300px;
  height: 138px;
  left: -10px;
  top: 0;
}

.author__card__picture::after {
  content: '';
  position: inherit;
  width: inherit;
  height: inherit;
  padding-bottom: 30%;
  background-image: radial-gradient(
    circle at center,
    transparent 0 50%,
    #181719 50% 100%
  );
}
.author__card__picture img {
  position: absolute;
  width: 62px;
}

.author__card__username {
  position: absolute;
  width: 133.03px;
  height: 12.44px;
  left: 125.17px;
  top: 552.83px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}
.author__card__job-title {
  position: absolute;
  width: 142.83px;
  height: 10.98px;
  left: 125.17px;
  top: 571.12px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  /* Gray 3 */

  color: #828282;
}

.author__card__details {
  position: absolute;
  width: 210px;
  height: 45px;
  left: 71px;
  top: 604px;

  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
}

.footer__sign {
  position: absolute;
  height: 17px;
  left: 44px;
  top: 735px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #a9a9a9;
}
.footer__sign strong {
  text-decoration: underline;
}
