* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background: #181719;
  color: #ffffff;
  min-width: 375px;
  min-height: 776px;
  position: relative;
  padding-bottom: 102px;
}

header {
  padding: 19px 12px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  padding-left: 12px;
}

nav {
  display: none;
}

.header__menu {
  font-size: 25.5px;
  /* Gray 6 */
  color: #f2f2f2;
}

.header__menu.material-icons {
  font-size: 28.5px;
  line-height: 19px;
  font-stretch: ultra-expanded;
}

.brand__name {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 8px;
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
}

.main__headline {
  max-width: 274px;
  min-height: 46px;
  padding-bottom: 25px;

  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height */

  color: #ffffff;
}

.main__description {
  max-width: 250px;
  min-height: 85px;
  padding-bottom: 25px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.link__read-more {
  min-height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;

  /* identical to box height */

  color: #ffffff;
}
.link__read-more .material-icons {
  font-size: 19px;
  line-height: 7px;
  padding-left: 15px;
}

.design__card {
  padding-top: 12px;
  min-height: 363px;
  position: relative;
}
.main__illustration {
  width: calc(375px - 24px);
  max-height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main__illustration img {
  display: block;
  max-width: 350px;
}
.design__info {
  position: absolute;
  left: 40px;
  top: 225px;
  width: 300px;
  padding-top: 8px;
  padding-left: 10px;

  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.author__card {
  display: flex;
  align-items: center;
}

.author__card__picture {
  width: 62.2px;
  height: 52.68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author__card__picture img {
  display: block;
  width: 37px;
  border-radius: 50%;
}

.author__card__username {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}
.author__card__job-title {
  display: inline-block;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  /* Gray 3 */

  color: #828282;
}

.author__card__details {
  padding-top: 8px;
  padding-left: 20px;
  max-width: 210px;

  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
}
footer {
  position: absolute;
  min-width: 375px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 24px;
}
.footer__sign {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  text-align: center;

  color: #a9a9a9;
}
.footer__sign strong {
  text-decoration: underline;
}
