* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  background: #181719;
  color: #ffffff;
  min-width: 375px;
  min-height: 776px;
  position: relative;
  padding-bottom: 102px;
}

header {
  padding-top: 19px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding-top: 35px;
  padding-left: 12px;
}

nav {
  display: none;
}

.nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: Montserrat;
}

.nav__link--active {
  border-bottom: 2px solid #ffffff;
}

.nav__link:hover,
.nav__link--active {
  cursor: pointer;
  font-weight: bold;
}

.nav__link.nav__link--active:hover {
  cursor: none;
  border-bottom: none;
}

.nav__link:not(:first-child) {
  margin-left: 68px;
}

.header__menu {
  font-size: 25.5px;
  margin-right: 12px;
  /* Gray 6 */
  color: #f2f2f2;
}

.header__menu .material-icons {
  font-size: 28.5px;
  line-height: 19px;
  font-stretch: ultra-expanded;
}

.brand__name {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 8px;
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
}

.main__headline {
  max-width: 274px;
  min-height: 46px;
  padding-bottom: 25px;

  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height */

  color: #ffffff;
}

.main__description {
  max-width: 250px;
  min-height: 85px;
  padding-bottom: 25px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.link__read-more {
  min-height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;

  /* identical to box height */

  color: #ffffff;
}

.link__read-more .material-icons {
  font-size: 19px;
  line-height: 7px;
  padding-left: 15px;
}

.design__card {
  padding-top: 12px;
  min-height: 363px;
  position: relative;
}

.main__illustration {
  width: calc(375px - 24px);
  max-height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main__illustration img {
  display: block;
  max-width: 350px;
}

.design__info {
  position: absolute;
  left: 40px;
  top: 225px;
  width: 300px;

  padding-top: 8px;
  padding-left: 10px;

  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.author__card {
  display: flex;
  align-items: center;
}

.author__card__picture {
  width: 62.2px;
  height: 52.68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author__card__picture img {
  display: block;
  width: 37px;
  border-radius: 50%;
}

.author__card__username {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}
.author__card__job-title {
  display: inline-block;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  /* Gray 3 */

  color: #828282;
}

.author__card__details {
  padding-top: 8px;
  padding-left: 20px;
  max-width: 210px;

  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
}

footer {
  position: absolute;
  min-width: 375px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 24px;
}
.footer__sign {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  text-align: center;

  color: #a9a9a9;
}
.footer__sign strong {
  text-decoration: underline;
}

@media only screen and (min-width: 1440px) {
  body {
    min-width: 1440px;
    padding-bottom: 280px;
  }
  header {
    padding-bottom: 169px;
    padding-top: 42px;
    padding-left: 77px;
    padding-right: 77px;
    max-width: 1440px;
    margin: 0 auto;
  }
  nav {
    display: block;
    flex-grow: 1;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .header__menu {
    display: none;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 77px;
    padding-right: 44px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .design__card {
    padding-top: 0;
  }
  /* .service__info {
     border: red 1px solid;
  } */

  .design__show-case {
    /* border: red 1px solid; */
    min-width: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main__illustration {
    width: 738px;
    max-height: 555px;
    overflow: hidden;
  }

  .main__illustration img {
    display: block;
    max-width: 738px;
  }

  .design__info {
    position: absolute;
    left: 295px;
    top: 477px;
    width: 410px;
    min-height: 189px;
    padding-top: 10px;
    padding-left: 14px;
  }

  .link__read-more {
    font-size: 18px;
    line-height: 22px;
  }

  .main__description {
    max-width: 410px;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 48px;
  }

  .main__headline {
    max-width: 365px;
    font-size: 48px;
    line-height: 61px;
    padding-bottom: 40px;
  }

  .author__card > div:last-child {
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .author__card__job-title {
    margin-top: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .author__card__username {
    font-size: 14px;
    line-height: 17px;
  }

  .author__card__details {
    margin-top: 10px;
    max-width: 290px;
    font-size: 24px;
    line-height: 31px;
  }

  .author__card__picture {
    width: 85px;
    height: 72px;
  }

  .author__card__picture img {
    display: block;
    width: 50px;
  }
}
